In [1]:
# This ismy first  program
"""
if 5 > 2:
    print("5 is greater than 2")
if 5 < 10:
    print("Hello")
    """

'\nif 5 > 2:\n    print("5 is greater than 2")\nif 5 < 10:\n    print("Hello")\n    '

In [2]:
x = 5
print(f"The value of x is {x}")
print(type(x))
y = "John"
x = "Charles"
print(type(x))
print(f"Hello, {y}!")
print(f"The value of x is {x}")

The value of x is 5
<class 'int'>
<class 'str'>
Hello, John!
The value of x is Charles

In [3]:
x= str(3)
print(type(x))
i = int(x) + 5
print(f"The value of x is {i}")

<class 'str'>
The value of x is 8

Variable naming:
Rules for naming variables:

In [6]:
na_5me ="John"
myVariableName = "John"
# Define multiple vaariables
# x,y,z = "Orange", "Banana", "Cherry"


def calculator():
    global x
    x = "Mango"
    y = "Apple"
    print(x)
    print(y)
calculator()
print(x)
print(y)

Mango
Apple
Mango
John

x = "Hello World"  --- str
x = 20 ----- int
x = 20.5 --------float
x = 1j --------- complex
x = ["books", "School"] ------ list
x = ("books", "school") ------- turple
x = {"books", "school"} ------ set
x = (name: "Book", inst: "School") ----- dict
x =True ----------- bool
x= b"Hello"  -------------- bytes
x = None  --------- NoneType

In [7]:
name = "John Doe"
name_1 = 'John Doe'
print(name)
print(name_1)

John Doe
John Doe

In [ ]:
# Multiline string
my_string = '''This is a string
that spans multiple lines.
It can be useful for long text.'''
my_string

'This is a string\nthat spans multiple lines.\nIt can be useful for long text.'

In [ ]:
#Get character at a position
name = "John Doe"
name[1]
for x in name:
    print(x)
# To get the length of a string
len(name)

J
o
h
n

D
o
e

8

In [ ]:
#Check if a string is present in a statement
statement = "Hello, welcome to the world of Python programming!"
"Python1" in statement

False

In [ ]:
#Slicing is returing range of characters
statement
statement[6:]  # Returns 'Hello'

statement[-12:]

'programming!'

In [ ]:
#String modification
statement.upper()  # Converts to uppercase
statement.lower()  # Converts to lowercase
name = "John Doe  "
name
name.strip()  # Removes leading and trailing whitespace
print(statement)
#Replace a substring
statement.replace("w", "Java")  # Replaces 'Python' with 'Java'
statement = "Hello,:welcome:to:the:world:of:Python:programming"
# To Split a statement
statement.split()  # Splits the string into a list of words
for x in statement.split(":"):
    print(x)

Hello, welcome to:the:world:of:Python:programming
Hello,
welcome
to
the
world
of
Python
programming

In [ ]:
# String Formatting
age = []
age.append(36)
age.append(37)
age.append(38)
txt = "My name is John, and I am " + str(age[0])
print(txt)

txt = f"My name is John, and I am {age[1]:.1f} years old"
print(txt)

My name is John, and I am 36
My name is John, and I am 37.0 years old

In [ ]:
print(10 > 9)
print(10 == 9)
# x = 6

True
False

In [ ]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [ ]:
'''
Python operaators, we haave:
1. arithmetic Operator eg + - % * etc
assignment Operator eg =, +=, %=, *=, etc
Compaarison Operator eg ==, !=, >, <, >=, <=
Logical Operator eg and, or, not
Bitwise Operator eg &, |, ^, ~, <<, >>
Membership Operator eg x in y, x not in y
'''

In [2]:
print(5 & 3)
print(5 >> 1)

#assignment Operator

# x = 5
# a *= b
# print(f" aa is: {a}, \n b is: {b}")

#membership Operator
# Example of membership operator
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  # True
stmt = "Python is a langauge"
print("Python" in stmt)  # True
print("Java" in stmt)  # True

1
2
True
True
False

In [3]:
#List in python
my_list = [1, "Java", 3, True, 5]
for item in my_list:
    print(item)
len(my_list)
type(my_list)

1
Java
3
True
5

list

In [ ]:
# Accessing list Item using index
print(my_list[0:3])
# Change an item
my_list[3] = "Python"
my_list
my_list[1:3] = ["c#", "Rust"]
print(my_list)

[1, 'Java', 3]
[1, 'c#', 'Rust', 'Python', 5]

In [ ]:
my_list.append("JavaScript")
print(len(my_list))
my_list

8

[1, 'c#', 'Rust', 'Python', 5, 'JavaScript', 'JavaScript', 'JavaScript']

In [8]:
# Insert in array

my_list.insert(6, "Go")
print(my_list)

NameError: name 'my_list' is not defined

In [ ]:
#Remove an item
my_list.remove("JavaScript")
print(my_list)

[1, 'c#', 'Rust', 'Python', 5, 'Go', 'JavaScript', 'JavaScript']

In [ ]:
my_list.pop(6)  # Removes the sixth item
print(my_list)

[1, 'c#', 'Rust', 'Python', 5, 'Go', 'JavaScript']

In [ ]:
del my_list[0]  # Deletes the first ite
print(my_list)

['c#', 'Rust', 'Python', 5, 'JavaScript', 'JavaScript', 'JavaScript']

In [ ]:
del my_list  # Deletes the entire
print(my_list)  # This will raise an error since my_list is deleted

In [ ]:
a <- c(1, 2, 3, 4, 5)
print(a)

[1] 1 2 3 4 5

In [ ]:
my_list.clear()  # Clears the list but does not delete it
print(my_list)  # This will print an empty list

[]

In [ ]:
# Sorting List


my_list = ['C#', 'Rust', 'Python', 'JavaScript', 'JavaScript', 'JavaScript']
print(my_list)
print(stmt)
my_list.sort(reverse = True)  # Sorts the list in descending order
print(my_list)  # Prints the sorted list

['C#', 'Rust', 'Python', 'JavaScript', 'JavaScript', 'JavaScript']
Python is a langauge
['Rust', 'Python', 'JavaScript', 'JavaScript', 'JavaScript', 'C#']

In [29]:
my_list= ['color','Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust']
print(my_list)
my_list.sort()  # Sorts the list in ascending order
print(my_list)  # Prints the sorted list

['color', 'Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust']
['Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color']

In [30]:
# opy list
myList = my_list.copy()  # Creates a copy of the list
print(myList)  # Prints the copied list
myList = my_list
myList

['Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color']

['Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color']

In [33]:
# Joining two List together
my_list1 = ['Go', 'Ruby', 'Dart']
list3 = my_list + my_list1  # Joins two lists
print(list3)  # Prints the joined list

for x in my_list:
    list3.append(x)  # Appends each item from my_list to list3
print(list3)  # Prints the final list after appending

['Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color', 'Go', 'Ruby', 'Dart']
['Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color', 'Go', 'Ruby', 'Dart', 'Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color']

In [ ]:
# Set
thisSet = {'Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color', 'Go', 'Ruby', 'Dart', 'Color', 'JavaScript', 'JavaScript', 'JavaScript', 'Python', 'Rust', 'color'}
print(thisSet)
type(thisSet)

{'Ruby', 'Rust', 'Dart', 'Python', 'color', 'Go', 'JavaScript', 'Color'}

set

In [46]:
#dding a list to a set
myList = ['Kiwi', 'Apple', 'Banana', 'Orange', 'Mango']
thisSet.update(myList)
thisSet

{'Apple',
 'Banana',
 'Color',
 'Dart',
 'Go',
 'JavaScript',
 'Kiwi',
 'Mango',
 'Orange',
 'Python',
 'Ruby',
 'Rust',
 'color'}

In [49]:
# thisSet.remove('color')
thisSet

{'Apple',
 'Banana',
 'Color',
 'Dart',
 'Go',
 'JavaScript',
 'Kiwi',
 'Mango',
 'Orange',
 'Python',
 'Ruby',
 'Rust'}

In [54]:
mdict = {
    "name": "John",
    "age": 30,
    "city": "New York",
    "name": "Emeka"
}
print(mdict["name"])
print(mdict["city"])

Emeka
New York

In [56]:
# Using get() function to access dictionary values
print(mdict.get("name"))  # Returns 'Emeka'
# get allkeys
print(mdict.keys())  # Returns all keys in the dictionary

Emeka
dict_keys(['name', 'age', 'city'])

In [72]:
print(mdict.get("age"))
mdict['dept'] = "Engineering"  # Adding a new key-value pair
print(mdict)
mdict['age'] = 26
print(mdict.keys())
mdict.update({"city": "Florida"})  # Adding another key-value pair

26
{'name': 'Emeka', 'age': 26, 'city': 'Florida', 'dept': 'Engineering', 'country': 'USA'}
dict_keys(['name', 'age', 'city', 'dept', 'country'])

In [75]:
# mdict.pop("name")  # Removes the key 'name' from the dictionary
print(mdict)
mdict.clear()  # Clears the dictionary but does not delete it
print(mdict)  # This will print an empty dictionary

{'age': 26, 'city': 'Florida', 'dept': 'Engineering', 'country': 'USA'}
{}

In [ ]:
a = 33
b =100
c = 50

if not b > a:
    print("b is greater than aa")
    if b > a: print("b is greater than aa")
    else:print("b is not greater than a and ccc")

    if not b > a:
        print("b is greater than aa")
    if b > a: print("b is greater than aa")
    else:print("b is not greater than a and ccc")

if b > a: print("b is greater than a")
elif b > a: print("b is greater than a")
else:print("b is not greater than a and c")

b is greater than a

In [ ]:
# Introducing logical operatirs

if a > b and c > a and c > b :
    print("All conditions are true")
else:
    print(f"At least one condition is false {a > b} {c > a} {c > b}")

All conditions are true

In [24]:
day = "Sunday"
match day:
    case "Monday":
        print("Monday")
    case "Tuesday":
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case _:
        print("Sunday")

Sunday

In [ ]:
i = 1
k = 1
while i < 6:
    print(f" i is {i}") # i = 1
    i += 1 # i = 1
    if i == 3:
        continue
    print(f"Continue")
     # i = i + 1

 i is 1
Continue
 i is 2
 i is 3
Continue
 i is 4
Continue
 i is 5
Continue

In [12]:
# Looping using forloop
company = ["Microsoft", "Apple", "Tesla", "Amazon", "Meta"]
for x in company:
    print(x)
    if x== "Apple":
        print(f"Company's name is Apple")
        break

Microsoft
Apple
Company's name is Apple

In [16]:
count =0
for x in company:
    for y in x:
        count += 1 # count = count +1
        print(y)
    if x== "Apple":
        break
print(f"count is {count}")

M
i
c
r
o
s
o
f
t
A
p
p
l
e
count is 14

In [ ]:
company = ["Microsoft", "Apple", "Tesla", "Amazon", "Meta"]
for cmpy in company:
    print(cmpy)
    for x in cmpy:
        print(x)
    if cmpy == "Apple":
        print(f"Company's name is Apple")
        break

In [22]:
for i in range (1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19