In [ ]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (4.13.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pymongo) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pymongo

myclient = pymongo.MongoClient("mongodb+srv://comfortmonday09:zRNyzOfSXStE7A1Q@cluster0.gatbl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
mydb = myclient["mydatabase"]
print(myclient.list_database_names())
for x in myclient.list_database_names():
    print(x)

['Aptech_db', 'dataset', 'flight', 'mydatabase', 'new_db', 'sample_mflix', 'school', 'admin', 'local']
Aptech_db
dataset
flight
mydatabase
new_db
sample_mflix
school
admin
local

In [ ]:
dbList = myclient.list_database_names()
if "mydatabase" in dbList:
    print("The database exists.")
else:
    print("The database does not exist.")

The database exists.

In [ ]:
#create a collection
mycol = mydb["customers"]

In [ ]:
collList = mydb.list_collection_names()
if "customers" in collList:
    print("The database exists.")
else:
    print("The database does not exist.")

for x in mydb.list_collection_names():
    print(x)

The database exists.
customers

In [ ]:
mydict = {"name": 'John', "address": 'Highway 37'}
x = mycol.insert_one(mydict)

In [ ]:
mydict = {"name": 'Peter', "address": 'LowStreet 37'}
x = mycol.insert_one(mydict)

In [ ]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('6891d37a3d9451daf460d9b9'), ObjectId('6891d37a3d9451daf460d9ba'), ObjectId('6891d37a3d9451daf460d9bb'), ObjectId('6891d37a3d9451daf460d9bc'), ObjectId('6891d37a3d9451daf460d9bd'), ObjectId('6891d37a3d9451daf460d9be'), ObjectId('6891d37a3d9451daf460d9bf'), ObjectId('6891d37a3d9451daf460d9c0'), ObjectId('6891d37a3d9451daf460d9c1'), ObjectId('6891d37a3d9451daf460d9c2'), ObjectId('6891d37a3d9451daf460d9c3'), ObjectId('6891d37a3d9451daf460d9c4')]

In [ ]:
myclient = pymongo.MongoClient("mongodb+srv://comfortmonday09:zRNyzOfSXStE7A1Q@cluster0.gatbl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

#x = mycol.find_one
#print(x)

#count total and find all documents in the collection
count = mycol.count_documents({})
print("Total documents in the collection:", count)
for x in mycol.find():
    print(x)

Total documents in the collection: 28
{'_id': ObjectId('6890a2f4bf4ba41b16324927'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6890a311bf4ba41b16324928'), 'name': 'Peter', 'address': 'LowStreet 37'}
{'_id': ObjectId('6890a33abf4ba41b1632492a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6890a33abf4ba41b1632492c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6890a33abf4ba41b1632492d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6890a33abf4ba41b1632492e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6890a33abf4ba41b16324931'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6890a33abf4ba41b16324932'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6890a33abf4ba41b1632492f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6890a33abf4ba41b16324929'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6890a33abf4ba41b1632492b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6890a33abf4ba41b16324934'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6890a33abf4ba41b16324930'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6890a33abf4ba41b16324933'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6891d3743d9451daf460d9b7'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6891d3773d9451daf460d9b8'), 'name': 'Peter', 'address': 'LowStreet 37'}
{'_id': ObjectId('6891d37a3d9451daf460d9b9'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6891d37a3d9451daf460d9ba'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6891d37a3d9451daf460d9bb'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6891d37a3d9451daf460d9bc'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6891d37a3d9451daf460d9bd'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6891d37a3d9451daf460d9be'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6891d37a3d9451daf460d9bf'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6891d37a3d9451daf460d9c0'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6891d37a3d9451daf460d9c1'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6891d37a3d9451daf460d9c2'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6891d37a3d9451daf460d9c3'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6891d37a3d9451daf460d9c4'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
for x in mycol.find({'name' : 'Hannah'}, {'name' : 1, '_id': 0, 'address': 1}):
    print(x)

In [ ]:
#To update a document in the collection

x = mycol.update_many({'name': 'Hannah'}, {"$set": {"address": "Valley 12"}})
print (x)

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff000000000000000f'), 'opTime': {'ts': Timestamp(1754390555, 4), 't': 15}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1754390555, 4), 'signature': {'hash': b'\x9f\xee\xa4\xd4\xe0\xf0\r\x04]\x11\xb5\x9bw\x0e\xf5\x19\xcc\xfa\xbe]', 'keyId': 7506533605594628101}}, 'operationTime': Timestamp(1754390555, 4), 'updatedExisting': True}, acknowledged=True)

In [ ]:
# To date a document in the collection

x = mycol.delete_many({'name': 'Hannah'})
print(x.deleted_count, "document deleted sucessfully")

0 document deleted sucessfully

In [ ]:
# Drop a collection
mycol.drop()

In [ ]:
# r code
a <- c(1,3,6)
print(a)

[1] 1 3 6