In [1]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl (69 kB)
   ---------------------------------------- 0.0/69.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/69.5 kB ? eta -:--:--
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ----------------- ---------------------- 30.7/69.5 kB 69.0 kB/s eta 0:00:01
   ---------------------------------------- 69.5/69.5 kB 90.3 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pyodbc

mydb = pyodbc.connect(
    'DRIVER={SQL Server};'
    'SERVER=SPIFFYSHUGA\\SQLEXPRESS;'
    'DATABASE=Customer_DB;'
    #'Trusted_Connection=yes;'
)
#print("Connected sucessfully using windows Authentification!")
mycursor = mydb.cursor()
mycursor.execute("select * from Customer_info")

for x in mycursor:
    print(x)

(1, 'Oliver Brown', 'Male', '(555) 012-3454', 'PENDING')
(2, 'Emma Smith', 'Female', '(555) 521-6545', 'PAID')
(3, 'Amelia Miller', 'Female', '(555)827-6895', 'PAID')
(4, 'Eric Green', 'Male', '(555) 768-4298', 'PENDING')
(6, 'Linda Anderson', 'Female', '(555) 924-6589', 'PAID')
(7, 'Patricia Thomas', 'Female', '(555) 394-2791', 'PAID')
(8, 'James Martin', 'male', '(555) 196-4873', 'PENDING')
(9, 'Susan Thompson', 'Female', '(555) 247-6359', 'PAID')
(10, 'Thyra Harris', 'Female', '(555) 627-5896', 'PAID')

In [24]:
mycursor = mydb.cursor()

#mycursor.execute("CREATE TABLE Student (Name VARCHAR(255), Dept VARCHAR(255), Grade INT)")

In [ ]:
# To insert data into the table
mycursor.execute("INSERT INTO Student(Name, Dept, Grade) VALUES ('John Doe', 'Computer Science', 90)")
mycursor.execute("INSERT INTO Student(Name, Dept, Grade) VALUES ('Kelvin Black', 'Engineering', 85)")
mycursor.execute("INSERT INTO Student(Name, Dept, Grade) VALUES ('Cynthia Ebo', 'History', 70)")
mydb.commit()  # Commit the changes to the database

('John Doe', 'Computer Science', 90)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)
('John Doe', 'Computer Science', 90)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)
('John Doe', 'Computer Science', 90)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)

In [31]:
mycursor.execute("SELECT * FROM Student")
for x in mycursor:
    print(x)

('John Doe', 'Computer Science', 90)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)
('John Doe', 'Computer Science', 90)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)
('John Doe', 'Computer Science', 90)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)

In [33]:
#Updating table
sql = "UPDATE Student set Grade = 99 WHERE Name = 'John Doe'"
mycursor.execute(sql)
mydb.commit()  #commit the changes to the database

In [37]:

mycursor.execute("SELECT * FROM Student")
for x in mycursor:
    print(x)

('John Doe', 'Computer Science', 99)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)
('John Doe', 'Computer Science', 99)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)
('John Doe', 'Computer Science', 99)
('Kelvin Black', 'Engineering', 85)
('Cynthia Ebo', 'History', 70)

In [38]:
#Delecting a row
sql = "DELETE FROM Student WHERE Name = 'Kelvin Black'"
mycursor.execute(sql)
mydb.commit()  #commit the changes to the database
print(mycursor.rowcount, "Record delected sucessfully")

3 Record delected sucessfully